@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  margin: 0;
  padding-bottom: 1em;
  font-family: "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(0, 0, 0);
  background: linear-gradient(-45deg, #527cee, #2b539e, #54c5ee, #4976d6);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(0, 0, 0);
}
